{% extends 'layout.html' %}

{% block title %}Policies{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Policies</li>
    </ol>
    <!-- /.Breadcrumbs -->

    <!-- Policy List -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i>
            Policies
          </div>
          <div class="card-body" id="policycard">
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Device</th>
                    <th>Description</th>
                    <th>Added</th>
                    <th>Modified</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Device</th>
                    <th>Description</th>
                    <th>Added</th>
                    <th>Modified</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for policy in policy_list %}
                  <tr>
                    <td>{{ policy.name }}</td>
                    <td>{{ policy.device }}</td>
                    <td>{{ policy.description }}</td>
                    <td>{{ policy.added }}</td>
                    <td>{{ policy.updated }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">
            Updated yesterday at 11:59 PM
          </div>
        </div>
    <!-- /.Policy List -->
</div>
      <!-- /.container-fluid -->

<!-- Modal -->
<div class="modal fade" id="deletePolicyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}