{% extends 'layout.html' %}

{% block title %}Policies{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'policy' %}">Policies</a>
      </li>
      <li class="breadcrumb-item active">Edit Policy</li>
    </ol>
    <!-- /.Breadcrumbs -->

        Edit Policy page - {{ policyToEdit.description }}

</div>
      <!-- /.container-fluid -->

{% endblock %}