{% extends 'layout.html' %}

{% block title %}Policies{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'policy' %}">Policies</a>
      </li>
      <li class="breadcrumb-item active">Add Policy</li>
    </ol>
    <!-- /.Breadcrumbs -->

        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-file-text-o"></i>
            Add Policy
          </div>
          <div class="card-body" id="policycard">
              <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <form action="" method="post">{% csrf_token %}
            <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {{ wizard.form }}
            {% endif %}
            </table>
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" class="btn btn-secondary" value="{{ wizard.steps.prev }}">Back</button>
            <input type="submit" class="btn btn-primary" value="Submit"/>
            {% else %}
            <input type="submit" class="btn btn-primary" value="Next"/>
            {% endif %}
            </form>
          </div>
        </div>

</div>
      <!-- /.container-fluid -->

{% endblock %}