{% extends 'layout.html' %}

{% load static %}

{% block title %}Policies{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

        <link href="{% static 'vendor/jsplumb/css/flowchart.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/jsplumb/css/jquery-ui.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/jsplumb/css/jsPlumbToolkit-defaults.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/jsplumb/css/jsPlumbToolkit-demo.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/jsplumb/css/demo.css' %}" rel="stylesheet" type="text/css">

<div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'policy' %}">Policies</a>
      </li>
      <li class="breadcrumb-item active">Add Policy</li>
    </ol>
    <!-- /.Breadcrumbs -->

        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-file-text-o"></i>
            Add Policy
          </div>
          <div class="card-body" id="policycard">
              <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}

    <!-- Flowchart -->
    <div class="menu" style="margin-bottom: 10px">
        <button class="button_add_task btn btn-info btn-sm" type="button">Add Task</button>
        <button class="btn btn-light" type="button" id="zoomin"><span class="fa fa-search-plus" data-toggle="tooltip" title="Zoom In"></span></button>
        <button class="btn btn-light" type="button" id="zoomout"><span class="fa fa-search-minus" data-toggle="tooltip" title="Zoom Out"></span></button>
    </div>
<div style="width:100%; min-height:500px; border: solid 1px gray; height: auto; margin-bottom: 20px; overflow:auto ">
<div id="drawingArea">
    <div class="startpoint point window node" data-nodetype="startpoint" id="startpoint">Start</div>



    <div class="window task" style="left: 120px; top:200px; display:none;" data-nodetype="task" id="taskcontainer0">
        <div class="ctrl_container">
            <div class="button_remove">x</div>
        </div>
        <div class="details_container">
            <p>
                <textarea class="form-control" rows="2"></textarea>
                </p>
            <p>
            <label class="detail_label">Level</label>
            <select name="level">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            </p>
        </div>
    </div>


    <div class="endpoint point window node" style="left: 150px; top:400px" data-nodetype="endpoint" id="endpoint">End</div>
</div>
</div>
    <!-- /.Flowchart -->

{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Back</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="Submit"/>
</form>
          </div>
        </div>

</div>
      <!-- /.container-fluid -->
<script src="{% static 'vendor/jsplumb/js/jsplumb.min.js' %}"></script>
    <script src="{% static 'vendor/jsplumb/js/flowchart.js' %}"></script>
<script type="text/x-jtk-templates" src="{% static 'vendor/jsplumb/templates/jtk-templates.html' %}"></script>
{% endblock %}