<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Soteria Server - Login</title>
        {% load static %}
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'mod_auth/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mod_auth/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'mod_auth/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'mod_auth/css/style.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'mod_auth/ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'mod_auth/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'mod_auth/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'mod_auth/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'mod_auth/ico/apple-touch-icon-57-precomposed.png' %}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row" style="margin-bottom: 15%">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <!--<h1><strong>Soteria Server</strong> Login </h1>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                                    <h3>Login to <strong>Soteria Server</strong></h3>
                            		<p>Enter your username and password to log in:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" method="post">
                                    {% csrf_token %}
			                    	<!--<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>-->
                                    <div class="form-group">
                                      <div>{{ form.username.label_tag }}
                                            {{ form.username }}</div>
                                    </div>
                                    <div class="form-group">
                                      <div>{{ form.password.label_tag }}
                                      {{ form.password }}</div>
                                    </div>
                                    <button type="submit" class="btn"><strong>Sign in!</strong></button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or <strong>Sign Up!</strong></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script src="{% static 'mod_auth/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'mod_auth/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'mod_auth/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'mod_auth/js/scripts.js' %}"></script>

        <!--[if lt IE 10]>
            <script src="{% static 'mod_auth/js/placeholder.js' %}"></script>
        <![endif]-->

    </body>

</html>