{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">My Dashboard</li>
    </ol>
    <!-- /.Breadcrumbs -->

        Dashboard page

</div>
      <!-- /.container-fluid -->

{% endblock %}